body {
	margin-top: 110px;	
}

.navbar-fixed-top {
	min-height: 110px;	
}

.nav-header-text {
	height: 40px;
	margin-top: 30px;
	background-color: #fff;	
}

.nav-header-text h2 {
	margin-top: 5px;	
}

.phone-number-text {
	padding-top: 15px;
	color: #fff;	
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 2px 2px #000;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #222;
	color: #777;
	padding-bottom: 5px;
}

nav ul li.active {
	border-bottom: 2px solid #fff;	
}

nav ul li a {
	font-weight: bold;	
	text-shadow: 2px 2px #000;
}

.jumbotron {
	height: 360px;
}

.media button {
	margin-right: 30px;	
}

.media small {
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
}

.main-container {
	padding-bottom: 40px;	
}

.bottom-nav {
	padding-top: 30px;
	min-height: 180px;
	background-color: #000;	
}

.bottom-nav li {
	list-style: none;	
	line-height: 30px;
}

.bottom-nav ul.address {
	padding-left: 0;
}

.bottom-nav ul.address li {
	line-height: 16px;	
	color: #fff;
}

.bottom-nav ul.address li.address-large {
	line-height: 40px;	
}

.bottom-nav ul.address li.address-small {
	line-height: 0;	
}

.bottom-nav a {
	color: #fff;	
}

.bottom-footer {
	border-radius: 0;
	margin: 0;	
}